.dropdown-menu.units-dropdown {
  width: 200px;
}

.toggle-button {
  width: 100%;
  text-align: left;
  background-color: var(--neutral-500);
  border: 1px solid var(--border-color);
  border-radius: var(--radius-sm);
  color: var(--text-main);
  padding: 12px;
  font-size: 1rem;
  cursor: pointer;
  margin-bottom: 8px;
  font-weight: 800;
  &:hover {
    background-color: var(--glass-hover);
  }
}

.units-group label {
  font-size: 0.85rem;
  padding: 8px 12px;
  margin: 0;
}

.units-group ul li {
  display: flex;
  justify-content: space-between;
  cursor: initial;
}

.units-group {
  border-bottom: 0.5px solid var(--border-color);
  padding-bottom: 8px;
  margin-bottom: 8px;
}

.units-group:last-child {
  border-bottom: none;
}
