.hourly-forecast {
  grid-area: 3/ 2 / 5 / 3;
  border-radius: var(--radius-lg);
  display: flex;
  flex-direction: column;
  background-color: var(--neutral-700);
  border: 1px solid var(--neutral-600);
  padding-top: 1rem;
  justify-content: space-between;
}

.hourly-header {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
}

.hourly-grid {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  overflow-y: scroll;
  padding: 1rem;
}

.hourly-grid::-webkit-scrollbar {
  width: 3px;
}
.hourly-grid::-webkit-scrollbar-track {
  background: transparent;
}
.hourly-grid::-webkit-scrollbar-thumb {
  background-color: var(--neutral-400);
  border-radius: 10px;
}

.hourly-forecast .glass-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.2rem 1rem;
  background-color: var(--neutral-600);
  border: 0.5px solid var(--neutral-400);
}

.hourly-card-left {
    display: flex;
    gap: 0.2rem;
    align-items: center;
}

.hourly-forecast img {
  width: 40px;
  height: 40px;
}
