* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'DM Sans', sans-serif;
}

:root {
  --neutral-900: hsl(243, 96%, 9%);
  --neutral-800: hsl(243, 27%, 20%);
  --neutral-700: hsl(243, 23%, 24%);
  --neutral-600: hsl(243, 23%, 30%);
  --neutral-300: hsl(240, 6%, 70%);
  --neutral-200: hsl(250, 6%, 84%);
  --neutral-0: hsl(0, 0%, 100%);
  --orange-500: hsl(28, 100%, 52%);
  --blue-500: hsl(233, 67%, 56%);
  --blue-700: hsl(248, 70%, 36%);

  --radius-xs: 0.25rem;
  --radius-sm: 0.5rem;
  --radius-md: 1rem;
}

#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: space-between;
  height: 10vh;
  width: 100%;
}

main {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 2fr 1fr;
  gap: 2rem;
  height: 80vh;
}

.search-bar {
  grid-area: 1 / 1 / 2 / 3;
  background-color: var(--neutral-300);
}

.current-weather {
  grid-area: 2 / 1 / 3 / 2;
  background-image: url('./assets/images/bg-today-large.svg');
  background-size: cover;
  background-position: center;

  border-radius: var(--radius-md);
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  padding: 2rem;
  align-items: center;
}

img.weather-icon {
  width: 100px;
  height: 100px;
}

.daily-forecast {
  grid-area: 3 / 1 / 4 / 2;
  background-color: var(--neutral-300);
}

.hourly-forecast {
  grid-area: 2/ 2 / 4 / 3;
  background-color: var(--neutral-300);

  border-radius: var(--radius-md);
}
