header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  width: 100%;
  padding: 0 2rem;
}

.footer {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--neutral-800);
  color: var(--neutral-200);
}

main {
  padding: 2rem;
  display: grid;
  grid-template-rows: 15vh 10vh 50vh minmax(10vh, 180px);
  grid-template-columns: 2fr 1fr;
  grid-template-areas:
    'title title'
    'search search'
    'today hourly'
    'daily hourly';
  gap: 2rem;
}

main > h1 {
  grid-area: title;
  align-self: center;
  justify-self: center;
}

.glass-card {
  background-color: var(--glass-bg);
  border-radius: var(--radius-sm);
  border: 1px solid var(--border-color);
}

@media (max-width: 768px) {
  main {
    grid-template-rows: auto;
    grid-template-columns: minmax(0, 1fr);
    grid-template-areas:
      'title'
      'search'
      'today'
      'daily'
      'hourly';
  }
}
