*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'DM Sans', sans-serif;
}

body {
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

:root {
  /* Dark theme */
  --neutral-900: hsl(243, 96%, 9%);
  --neutral-700: hsl(243, 23%, 24%);
  --neutral-600: hsl(243, 23%, 30%);
  --neutral-500: hsl(243, 23%, 30%);
  --neutral-400: hsl(240, 9%, 44%);
  --neutral-200: hsl(250, 6%, 84%);
  --neutral-0: hsl(0, 0%, 100%);
  --orange-500: hsl(28, 100%, 52%);
  --blue-500: hsl(233, 67%, 56%);

  --main-text: var(--neutral-200);
  --border-color: var(--neutral-400);
  --glass-hover: var(--neutral-500);
  --glass-bg: var(--neutral-700);

  --radius-xs: 0.25rem;
  --radius-sm: 0.5rem;
  --radius-md: 0.75rem;
  --radius-lg: 1rem;
  --radius-xl: 1.5rem;

  --font-xs: clamp(0.875rem, 0.5vw + 0.75rem, 2rem);
  --font-sm: clamp(1rem, 0.8vw + 0.8rem, 2.5rem);
  --font-md: clamp(1.25rem, 1vw + 1rem, 3rem);
  --font-lg: clamp(1.5rem, 2vw + 1rem, 4rem);
  --font-xl: clamp(2rem, 4vw + 1rem, 5rem);

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 500;
    line-height: 1.2;
  }

  h1 {
    font-size: var(--font-xl);
    font-family: 'Bricolage Grotesque', sans-serif;
  }

  h2 {
    font-size: var(--font-lg);
  }

  h3 {
    font-size: var(--font-md);
    font-weight: 600;
  }

  h4 {
    font-size: var(--font-sm);
  }

  h5 {
    font-size: var(--font-xs);
    font-weight: 400;
  }

  h6 {
    font-size: var(--font-xs);
  }

  p {
    font-size: var(--font-md);
    line-height: 1.5;
  }

  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-y: scroll;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--main-text);
  background-color: var(--neutral-900);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  input {
    background-color: var(--neutral-600);
  }
}

/* Light theme */

:root.light-theme {
  --neutral-900: hsl(229, 88%, 86%);
  --neutral-700: hsl(229, 82%, 89%);
  --neutral-600: hsl(240, 17%, 92%);
  --neutral-500: hsl(229 82.5% 92%);
  --neutral-400: hsl(240, 10%, 85%);
  --neutral-200: hsl(243, 27%, 15%);
  --neutral-0: hsl(243, 96%, 5%);

  --orange-500: hsl(28, 95%, 45%);
  --blue-500: hsl(233, 75%, 45%);

  --main-text: #472121;
  --border-color: var(--neutral-600);
  --glass-hover: var(--neutral-500);

  .temperature-card::before {
    filter: hue-rotate(319deg) brightness(1.5) opacity(0.6);
  }

  input {
    background-color: var(--neutral-600);
  }
}

@media (prefers-color-scheme: light) {
  :root:not(.dark-theme) {
    --neutral-900: hsl(229, 88%, 86%); /* background  -- only used in var*/
    --neutral-700: hsl(229, 82%, 89%); /* glass, dropdown buttons -- only used in var */
    --neutral-600: hsl(240, 17%, 92%);
    --neutral-500: hsl(229 82.5% 92%);
    --neutral-400: hsl(240, 10%, 85%); /* hourly scroll thumb */
    --neutral-200: hsl(243, 27%, 15%); /* only used in var */
    --neutral-0: hsl(243, 96%, 5%);

    --blue-500: hsl(233, 75%, 45%);

    --main-text: #472121;
    --border-color: var(--neutral-600);
    --glass-hover: var(--neutral-600);
    --glass-bg: var(--neutral-700);

    .temperature-card::before {
      filter: hue-rotate(319deg) brightness(1.5) opacity(0.6);
    }

    input {
      background-color: var(--neutral-600);
    }
  }
}
